<form action="/places" method="post">
  <label for="city">Add a new city</label> 
  <input id="city" name="city" type="text">

  <label for="food">What was your favorite food there?</label> 
  <input id="food" name="food" type="text">

  <label for="photo">Did you take any pictures there? Share one with us!</label> 
  <input id="photo" src="img_submit.gif" name="photo" type="image" width="48" height="48">

     @* <input type="image" src="img_submit.gif" alt="Submit" width="48" height="48">  *@

  <button type="submit">Submit</button>
</form>